.greeting{
    position: absolute;
    top: 300px;
    right: 100px;
}
.about{
    color: white;
    position: relative;
    text-align: center;
}
.about img{
    width: 100%; 
    display: block
}

.about h1{
    color: white;
}

.about p{
    font-size: 18px;
}


#site_content {
    display: flex;
    padding-left: 180px;
    padding-right: 100px;
    padding-top: 50px;
    
}

#site_content img{
    width: 450px;
    height: 600px;
    padding-top: 50px;
}
#content2 img{
    width: 300px;
    height: 200px;
    align: center;
    padding-left: 50px;
    padding-bottom: 30px;
}

#site_content2{
  padding: 50px;
}

#site_content2 img{
    width: 300px;
    height: 200px;
    align: center;
    padding-left: 50px;
    padding-bottom: 30px;
}

#content2{
    padding-top: 30px;
    width: 100%;
}

html
{ height: 100%;}

*
{ margin: 0;
  padding: 0;}

body
{ font: normal 18px 'trebuchet ms', sans-serif;
  background: #FFF;
  color: #555;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url('painting6.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  }

p
{ padding: 0 0 20px 0;
  line-height: 1.7em;}

img
{ border: 0;}

h1, h2, h3, h4, h5, h6 
{ color: #362C20;
  letter-spacing: 0em;
  padding: 0 0 5px 0;}

h1, h2, h3
{ font: normal 170% 'poppins', arial;
  margin: 0 0 15px 0;
  padding: 15px 0 5px 0;
  color: #000;}

h2
{ font-size: 160%;
  padding: 9px 0 5px 0;
  color: #cf5c36;}

h3
{ font-size: 140%;
  padding: 5px 0 0 0;}

h4, h6
{ color: #cf5c36;
  padding: 0 0 5px 0;
  font: normal 110% arial;
  text-transform: uppercase;}

h5, h6
{ color: #888;
  font: normal 95% arial;
  letter-spacing: normal;
  padding: 0 0 15px 0;}

a, a:hover
{ outline: none;
  text-decoration: underline;
  color: #cf5c36;}

a:hover
{ text-decoration: none;}

blockquote
{ margin: 20px 0; 
  padding: 10px 20px 0 20px;
  border: 1px solid #E5E5DB;
  background: #FFF;}

ul
{ margin: 2px 0 22px 17px;}

ul li
{ list-style-type: circle;
  margin: 0 0 6px 0; 
  padding: 0 0 4px 5px;
  line-height: 1.5em;}

ol
{ margin: 8px 0 22px 20px;}

ol li
{ margin: 0 0 11px 0;}

.left
{ float: left;
  width: auto;
  margin-right: 10px;}

.right
{ float: right; 
  width: auto;
  margin-left: 10px;}

.center
{ display: block;
  text-align: center;
  margin: 20px auto;}

#main, #logo, #menubar, #site_content, #footer
{ margin-left: auto; 
  margin-right: auto;}

#header
{ background: #050517;
  height: 177px;}
  
#banner
{  background: url(painting4.jpg) no-repeat;
   background-size: 1000px;
   height: 200px; 
   border: 10px solid #050517;
   position: absolute;
   padding-left: 100px;
   padding-top: 50px;
   
   }
   
#banner img{
    display: block;
       width: 100%;
}

#logo
{ width: 880px;
  position: relative;
  height: 140px;
  background: transparent;}

#logo #logo_text 
{ position: absolute; 
  top: 10px;
  left: 0;}

#logo h1, #logo h2
{ font: normal 300% 'century gothic', arial, sans-serif;
  border-bottom: 0;
  text-transform: none;
  margin: 0 0 0 9px;}

#logo_text h1, #logo_text h1 a, #logo_text h1 a:hover 
{ padding: 22px 0 0 0;
  color: #FFF;
  letter-spacing: 0.1em;
  text-decoration: none;}

#logo_text h1 a .logo_colour
{ color: #cf5c36;}

#logo_text a:hover .logo_colour
{ color: #FFF;}

#logo_text h2
{ font-size: 120%;
  padding: 4px 0 0 0;
  color: #999;}

#menubar
{ width: 880px;
  height: 46px;} 

ul#menu
{ float: right;
  margin: 0;}

ul#menu li
{ float: left;
  padding: 0 0 0 9px;
  list-style: none;
  margin: 1px 2px 0 0;
  background: #cf5c36}

ul#menu li a
{ font: normal 100% 'trebuchet ms', sans-serif;
  display: block; 
  float: left; 
  height: 20px;
  padding: 6px 35px 5px 28px;
  text-align: center;
  color: #FFF;
  text-decoration: none;
  background: #cf5c36;} 

ul#menu li.selected a
{ height: 20px;
  padding: 6px 35px 5px 28px;}

ul#menu li.selected
{ margin: 1px 2px 0 0;
  background: #efc88b}

ul#menu li.selected a, ul#menu li.selected a:hover
{ background: #efc88b;
  color: #050517;}

ul#menu li a:hover
{ color: #050517;}

#sidebar_container
{ float: right;
  width: 300px;
  height: 800px;}

#content
{ text-align: left;
  width: 100%;
  float: left;
  padding-top: 60px;
  color: color: #cf5c36;
  }
  
#content h1{
    color: #cf5c36;;
}

#content p{
    font-size: 20px;
}

#content ul
{ margin: 2px 0 22px 0px;}

#content ul li, .sidebar ul li
{ list-style-type: none;
  background: url(bullet.png) no-repeat;
  margin: 0 0 0 0; 
  padding: 0 0 4px 25px;
  line-height: 1.5em;}

#footer
{ width: 100%;
  font-family: 'trebuchet ms', sans-serif;
  font-size: 100%;
  height: 80px;
  padding: 28px 0 5px 0;
  text-align: center; 
  background: #050517;
  color: #A8AA94;}

#footer p
{ line-height: 1.7em;
  padding: 0 0 10px 0;}

#footer a
{ color: #A8AA94;
  text-decoration: none;}

#footer a:hover
{ color: #FFF;
  text-decoration: none;}

.search
{ color: #5D5D5D; 
  border: 1px solid #BBB; 
  width: 134px; 
  padding: 4px; 
  font: 100% arial, sans-serif;}

.form_settings
{ margin: 15px 0 0 0;}

.form_settings p
{ padding: 0 0 4px 0;}

.form_settings span
{ float: left; 
  width: 200px; 
  text-align: left;}
  
.form_settings input, .form_settings textarea
{ padding: 5px; 
  width: 299px; 
  font: 100% arial; 
  border: 1px solid #E5E5DB; 
  background: #FFF; 
  color: #47433F;}
  
.form_settings .submit
{ font: 100% arial; 
  border: 0; 
  width: 99px; 
  margin: 0 0 0 212px; 
  height: 33px;
  padding: 2px 0 3px 0;
  cursor: pointer; 
  background: #3B3B3B; 
  color: #FFF;}

.form_settings textarea, .form_settings select
{ font: 100% arial; 
  width: 299px;}

  
